<section>
  <div class="container">
    <div class="edit-form">
      <form #postForm="ngForm" (ngSubmit)="editPost(postForm)">
        <!-- <button type="button" (click)="goBack()" class="go-back-btn">
          <i class="fa-solid fa-arrow-left"></i>
        </button> -->
        <div *ngIf="selectedPost">
          <label>Title</label>
          <input
            type="text"
            name="title"
            required
            [(ngModel)]="selectedPost.title"
          />
          <br />
          <label>Body</label>
          <textarea
            name="body"
            required
            cols="30"
            rows="6"
            [(ngModel)]="selectedPost.body"
          >
          </textarea>
          <br />
          <button type="submit">Edit</button>
        </div>
      </form>
    </div>
    <div>
      <app-comments></app-comments>
    </div>
  </div>
</section>
