.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  .popup {
    margin: 30px auto;
    padding: 60px;
    background-color: rgb(65, 159, 253);
    border-radius: 5px;
    width: 60%;
    color: #ffff;
    position: relative;
    top: 10%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  label {
    margin-top: 15px;
    font-size: 18px;
  }
}
.form input {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.form div:not(:last-of-type) {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form button {
  color: #ffff;
  background-color: rgb(190, 2, 2);
  border-radius: 2px;
  border: none;
  padding: 10px 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.4s ease;
}

.form button:hover {
  background-color: rgb(128, 11, 11);
}

.popup i {
  font-size: 24px;
  transition: all 0.4s ease;
  cursor: pointer;
}
.popup i:hover {
  color: rgb(12, 100, 130);
}

.error {
  color: rgb(190, 2, 2);
}
